{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "/^\\d\\.\\d\\.x$/"
        }
    },
    "phpStan": {
        "customPath": "tools/vendor/bin/phpstan"
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 99,
    "minCoveredMsi": 99
}
