{
    "source": {
        "directories": [
            "src"
        ]
    },
    "bootstrap": "./infection.bootstrap.php",
    "logs": {
        "text": "php:\/\/stderr",
        "badge": {
            "branch": "/^\\d\\.\\d\\.x$/"
        }
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 95,
    "minCoveredMsi": 95
}
