{
    "source": {
        "directories": [
            "src"
        ]
    },
    "bootstrap": "./infection.bootstrap.php",
    "logs": {
        "text": "php:\/\/stderr",
        "badge": {
            "branch": "5.0.x"
        }
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 94,
    "minCoveredMsi": 94
}
