<?xml version="1.0"?>
<ruleset name="Roave/BetterReflection coding standard">
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache"/>

    <file>src</file>
    <file>test/unit</file>
    <exclude-pattern>test/unit/Assets/*</exclude-pattern>
    <exclude-pattern>test/unit/Fixture/*</exclude-pattern>

    <rule ref="Doctrine">
        <exclude name="Generic.Files.LineLength.TooLong"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix"/>
        <!-- @psalm-return annotations are used -->
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification"/>
    </rule>

    <rule ref="SlevomatCodingStandard.Functions.TrailingCommaInCall"/>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint"/>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingParameterTypeHint">
        <exclude-pattern>src/Reflection/Adapter/*</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint"/>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint"/>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingAnyTypeHint">
        <exclude-pattern>src/Reflection/Adapter/*</exclude-pattern>
    </rule>
</ruleset>
