<?xml version="1.0"?>
<ruleset name="Roave/BetterReflection coding standard">
    <config name="php_version" value="70400"/>
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache"/>

    <file>src</file>
    <file>test/unit</file>
    <exclude-pattern>test/unit/Assets/*</exclude-pattern>
    <exclude-pattern>test/unit/Fixture/*</exclude-pattern>

    <rule ref="Doctrine">
        <exclude name="Generic.Files.LineLength.TooLong"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix"/>
    </rule>

    <rule ref="SlevomatCodingStandard.Functions.RequireTrailingCommaInCall"/>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint"/>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingParameterTypeHint">
        <exclude-pattern>src/Reflection/Adapter/*</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint"/>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint"/>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingAnyTypeHint">
        <exclude-pattern>src/Reflection/Adapter/*</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification">
        <!-- Useless for data providers -->
        <exclude-pattern>test/unit/</exclude-pattern>
    </rule>
</ruleset>
