<?xml version="1.0"?>
<ruleset name="Roave/BetterReflection coding standard">
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>
    <arg name="cache" value=".phpcs-cache"/>

    <file>src</file>
    <file>test/unit</file>
    <exclude-pattern>test/unit/Assets/*</exclude-pattern>
    <exclude-pattern>test/unit/Fixture/*</exclude-pattern>

    <rule ref="Doctrine">
        <exclude name="Generic.Files.LineLength.TooLong"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix"/>
    </rule>

    <rule ref="Squiz.NamingConventions.ValidVariableName.NotCamelCaps">
        <!-- Contains stream wrapper -->
        <exclude-pattern>src/SourceLocator/Type/AutoloadSourceLocator.php</exclude-pattern>
    </rule>
    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
        <!-- Contains stream wrapper -->
        <exclude-pattern>src/SourceLocator/Type/AutoloadSourceLocator.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint">
        <properties>
            <property name="enableObjectTypeHint" value="false"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingParameterTypeHint">
        <exclude-pattern>src/Reflection/Adapter/*</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint"/>     
        <properties>
            <property name="enableObjectTypeHint" value="false"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint">
        <properties>
            <property name="enableObjectTypeHint" value="false"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingAnyTypeHint">
        <exclude-pattern>src/Reflection/Adapter/*</exclude-pattern>
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification">
        <!-- It's useless to add "@return mixed[]" to all data providers -->
        <exclude-pattern>test/</exclude-pattern>
    </rule>
</ruleset>
