includes:
    - tools/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8

    paths:
        - src
        - test/benchmark
        - test/unit

    # Force the right PhpParser
    scanDirectories:
        - vendor/nikic/php-parser

    excludePaths:
        analyse:
            - test/unit/Fixture/*
        analyseAndScan:
            - test/unit/Fixture/InvalidParents.php
            - tools/vendor/*

    bootstrapFiles:
        - phar://%currentWorkingDirectory%/test/unit/Fixture/autoload.phar/vendor/autoload.php

    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: impure.functionCall
        -
            identifier: possiblyImpure.functionCall
        -
            identifier: possiblyImpure.methodCall
        -
            identifier: possiblyImpure.new
        -
            identifier: property.readOnlyByPhpDocAssignNotInConstructor
        # Adding hooks to child classes is really sly/evil, and we won't care about it
        -
            identifier: unset.possiblyHookedProperty
        -
            identifier: staticMethod.alreadyNarrowedType
            path: test/unit/
        -
            identifier: varTag.nativeType
            path: test/unit/
        -
            identifier: method.nonObject
            path: test/unit/
