parameters:
    level: 5

    paths:
        - src

    ignoreErrors:
        -
            message: '#Access to an undefined property PhpParser\\Node\\Param::\$isOptional#'
            paths:
                - %currentWorkingDirectory%/src/Reflection/ReflectionFunctionAbstract.php
                - %currentWorkingDirectory%/src/Reflection/ReflectionParameter.php
        # Impossible to define type hint for anonymous class
        -
            message: '#Call to an undefined method PhpParser\\NodeVisitorAbstract::(clearNodes|getClassNodes|getFunctionNodes|getConstantNodes)\(\)#'
            path: %currentWorkingDirectory%/src/SourceLocator/SourceStubber/PhpStormStubsSourceStubber.php
        -
            message: '#Call to an undefined method PhpParser\\NodeVisitorAbstract::(getNode|setConstantName)\(\)#'
            path: %currentWorkingDirectory%/src/SourceLocator/Type/AutoloadSourceLocator.php
        # ClassLoader is a pseudo-callable
        -
            message: "#^Parameter \\#1 \\$autoload_function of function spl_autoload_register expects callable\\(string\\)\\: void, \\$this\\(Roave\\\\BetterReflection\\\\Util\\\\Autoload\\\\ClassLoader\\) given\\.$#"
            count: 1
            path: src/Util/Autoload/ClassLoader.php
