parameters:
    level: 5

    paths:
        - src

    excludes_analyse:
        # references huge array PhpStormStubsMap
        # can be removed once updated to PHPStan 0.12.26
        - src/SourceLocator/SourceStubber/PhpStormStubsSourceStubber.php

    ignoreErrors:
        -
            message: '#Access to an undefined property PhpParser\\Node\\Param::\$isOptional#'
            paths:
                - %currentWorkingDirectory%/src/Reflection/ReflectionFunctionAbstract.php
                - %currentWorkingDirectory%/src/Reflection/ReflectionParameter.php
        -
            message: "#^Parameter \\#1 \\$callback of function spl_autoload_register expects \\(callable\\(string\\)\\: void\\)\\|null, \\$this\\(Roave\\\\BetterReflection\\\\Util\\\\Autoload\\\\ClassLoader\\) given\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Util/Autoload/ClassLoader.php
        # Impossible to define type hint for anonymous class
        -
            message: '#Call to an undefined method PhpParser\\NodeVisitorAbstract::(clearNodes|getClassNodes|getFunctionNodes|getConstantNodes)\(\)#'
            path: %currentWorkingDirectory%/src/SourceLocator/SourceStubber/PhpStormStubsSourceStubber.php
        -
            message: '#Call to an undefined method PhpParser\\NodeVisitorAbstract::(getNode|setConstantName)\(\)#'
            path: %currentWorkingDirectory%/src/SourceLocator/Type/AutoloadSourceLocator.php
        # Will be fixed later
        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionClass\\:\\:getReflectionConstant\\(\\) should return ReflectionClassConstant but returns false\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionClass.php

        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionClass\\:\\:isInstance\\(\\) should return bool but returns null\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionClass.php

        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionFunction\\:\\:getClosure\\(\\) should return Closure but returns null\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionFunction.php

        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionMethod\\:\\:getClosure\\(\\) should return Closure but returns null\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionMethod.php

        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionObject\\:\\:getReflectionConstant\\(\\) should return ReflectionClassConstant but returns false\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionObject.php

        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionObject\\:\\:isInstance\\(\\) should return bool but returns null\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionObject.php

        -
            message: "#^Property PhpParser\\\\Node\\\\Expr\\\\Closure\\:\\:\\$stmts \\(array\\<PhpParser\\\\Node\\\\Stmt\\>\\|null\\) does not accept array\\<int, PhpParser\\\\Node\\>\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/ReflectionFunctionAbstract.php

        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionParameter\\:\\:getType\\(\\) should return Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionType\\|null but returns Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionNamedType\\|null\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionParameter.php

        -
            message: "#^Method Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionProperty\\:\\:getType\\(\\) should return Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionType\\|null but returns Roave\\\\BetterReflection\\\\Reflection\\\\Adapter\\\\ReflectionNamedType\\|null\\.$#"
            count: 1
            path: %currentWorkingDirectory%/src/Reflection/Adapter/ReflectionProperty.php
